/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url('../images/bgtiles.png');
  background-image:linear-gradient(#1c5380, #fff);
  background-repeat:repeat-x;
}


main{
  display:flex;
  /*border: 10px solid green;*/ 
  padding: 0px 50px;
  justify-content: center;
  align-items:center;
  height: 100vh;
}

section{

}


#blue{
  background: #06365f;
  height: 33vh;
} 